<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="styles.css" rel="stylesheet" />
    <title>testTask</title>
  </head>
  <body>
    <div class="content-block">
      <div class="search-bar">
        <input
          type="text"
          class="search-bar__input-line"
          placeholder="Введите название организации"
        />
        <button class="search-bar__search-button"></button>
      </div>
      <div class="repos-list">
        <div class="git-repo-tile">
          <div class="git-repo-tile__avatar"></div>
          <div class="git-repo-tile__content">
            <span class="git-repo-tile__repo-name">kts-school-frontend</span>
            <span class="git-repo-tile__org-name">ktsstudio </span>
            <div class="info">
              <div class="info__stars">
                <div class="info__star"></div>
                <span class="info__sum-stars">123</span>
              </div>
              <span>Updated 21 Jul</span>
            </div>
          </div>
        </div>
        <div class="git-repo-tile"></div>
        <div class="git-repo-tile"></div>
        <div class="git-repo-tile"></div>
      </div>
    </div>
  </body>
</html>
