@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("./colors.css");
input {
  outline: 0;
}
button {
  border: none;
  cursor: url("./source/cursor.png"), pointer;
}

body {
  margin: 0 0;
  font-family: "Roboto", sans-serif;
  color: var(--color-hint);
  font-size: 14px;
}
* {
  box-sizing: border-box;
}

.content-block {
  display: grid;
  gap: 20px;
  width: 397px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

.search-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  width: 357px;
  height: 50px;
  .search-bar__input-line {
    border: 1px solid var(--border-color);
    padding-left: 12px;
    border-radius: 6px;
    width: 295px;
  }
  .search-bar__input-line:focus {
    border: 1px solid var(--accent);
    color: var(--color-text);
  }
  .search-bar__input-line:disabled {
    background-color: var(--line-disabled);
  }
  .search-bar__search-button {
    background-color: var(--accent);
    background-image: url("./source/loupe.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    width: 50px;
  }
  .search-bar__search-button:hover {
    opacity: 70%;
  }
  .search-bar__search-button:disabled {
    background-color: var(--border-color);
    opacity: 100%;
  }
}
.repos-list {
  display: grid;
  gap: 16px;
  width: 357px;
}

.git-repo-tile {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 12px;
  width: 357px;
  height: 104px;
  .git-repo-tile__avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-image: url("./source/Avatar.svg");
  }
  .git-repo-tile__content {
    display: flex;
    flex-direction: column;
    gap: 3.5px;
    width: 241px;
    height: 59px;
  }
  .git-repo-tile__repo-name {
    color: var(--color-text);
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
  }
  .git-repo-tile__org-name {
    line-height: 16px;
  }
}
.git-repo-tile > .git-repo-tile__content > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.git-repo-tile:hover {
  cursor: url("./source/cursor.png"), pointer;
}
.git-repo-tile__org-name:hover {
  color: var(--link-hover);
}

.info {
  display: flex;
  gap: 19px;
  .info__stars {
    width: 42px;
    height: 16px;
    font-size: 14px;
  }
  .info__star {
    display: inline-block;
    background-image: url("./source/star.svg");
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    vertical-align: -2.3px;
  }
  .info__sum-stars {
    padding-left: 0.9px;
  }
}
